<!DOCTYPE html>
<html lang="en" ng-app="contacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of customers</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script>
        angular.module("contacts", []).controller("main", function ($scope, $http){
            $http.get("http://localhost:8080/jaxrs_app_war/api/contacts")
            .then(function(response){
                $scope.contacts = response.data;
            })
        })
    </script>
</head>
<body ng-controller="main">
    <div class="alert alert-success">
        <div class="container">
            <h1><strong>List of customer contacts</strong></h1>
        </div>
    </div>

    <div class="container">
        <h5>Customer contacts</h5><br><br>
        <table class="table" style="font-size: small">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email address</th>
                    <th>Phone number</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody class="table table-light table-striped" ng-repeat="c in contacts">
                <td>{{ $index + 1 }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.phone }}</td>
                <td>{{ c.city }}</td>
                <td>{{ c.country }}</td>
            </tbody>
        </table>
    </div>
</body>
</html>